body {
    font-family: Georgia;
    background-color: gray;
  }
  h1 {
    background-color:silver;
              color: white;
              text-align:center;
  }
  .heading{
    padding: 1px
  }
  .sidebar{
    float: left;
    padding-left: 15px
  }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
  .sidebar a{
    color: white;
    text-decoration: none;
  }
  .copyright{
    text-align: right;
    background-color:#4C4D4E;
    font-size: 20px
  }
  .content{
    margin-left: 175px;
    margin-right: 10px;

  }
