.menu {
  background: #333;
  min-height: 40px;
  height: 40px;
}
.menu li {
  background: #333;
  border-right:1px solid #bbb;
  height: 40px;
  line-height: 38px;
}
.menu li:hover {
  filter: brightness(85%);
}
.menu a {
  color:white;
  text-align: center;
}
.top-bar-left button {
  float:right;
}
.input-group-field {
  white-space: nowrap;
}

.card {
  background: #033f63;
  text-shadow: 0 10px  20px 0 rgba($dark-gray, 0.6);
  color: white;
  padding: 0.25rem;
  border-radius: 10px;
}

.card-divider {
  color: black;
  background: #28666e;
}
